div.home-container {
  background-color: white;
  font-size: 20px;
}

div.home-first-level{
  display: flex;
}

/* div.home-image{
  width: 40%;
  height: 40%;
} */

img.home-image {
  width: 40%;
  height: 40%;
}

div.home-about {
  line-height: 35px;
  background-color: white;
  width: 60%;
  padding-top: 230px;
  border: 1px solid green;
}

div.home-review {
  background-color: white;
  padding-top: 200px;
  padding-bottom: 200px;
}
