div.home-container {
  background-color: #FEB83D;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 20px;
}

img.home-image {
  width: 50%;
}

div.home-about {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 250px;
  padding-right: 250px;
  line-height: 35px;
  background-color: #FFB697;
}

div.home-review {
  color: white;
  background-color: #8b9dc3;
  padding-top: 200px;
  padding-bottom: 200px;
}
