div.myContracts-container {
  background-color: white;
}

#myContracts-grid {
  margin-top: 15px;
  /* padding-left: 150px */
}

#contracts-title {
  color: black;
  letter-spacing: 2px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 20px;
  padding: 10px 0px 0px 70px;
}

div.three.column.row {
  padding: 10px 0px 10px 20px;
}
