div.myContracts-container {
  background-color: white;
}

#myContracts-grid {
  margin-top: 1%;
}

#contracts-title {
  color: black;
  letter-spacing: 2px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 20px;
  padding: 1% 0% 0% 5.3%;
}

div.three.column.row {
  padding: 1% 0% 1% 1.8%;
}
