div.myContracts-container {
  background-color: #f7f7f7;
  height: 100vh;
}

#myContracts-grid {
  margin-top: 5px;

}

#contracts-title {
  color: black;
  letter-spacing: 2px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 20px;
  padding-top: 10px;
  /* background-color: #8b9dc3; */
  margin-left: 0px;
  padding-left: 50px;
  padding-right: 80%;
}

div.three.column.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
