div.myProfile-container {
  padding-top: 420px;
  padding-bottom: 420px;
  background-color: #FFB697;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em
}

body {
  background-color: #FFB697;
}
