  /* Landscape iPhone 6+ 7+ 8+ */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

  div.myProfile-container {
    padding: 3.5% 0% 3.5% 0%;
    color: black;
  }

  div.ui.blue.centered.card{
    padding: 1.5% 0px 0px 0px;
  }

  #profile-icon{
    align-content: center;
  }

  #profile-header{
    padding: 8% 5% 8% 5%;
  }
}


  /* Portrait iPhone 6+ 7+ 8+ */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  div.myProfile-container {
    padding: 40% 0% 0% 0%;
    color: black;
  }

  div.ui.blue.centered.card{
    padding: 1.5% 0px 0px 0px;
  }

  #profile-icon{
    align-content: center;
  }

  #profile-header{
    padding: 8% 5% 8% 5%;
  }
}

  /* For Web */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  div.myProfile-container {
    padding: 13% 0% 0% 0%;
    color: black;
  }

  div.ui.blue.centered.card{
    padding: 1.5% 0px 0px 0px;
  }

  #profile-icon{
    align-content: center;
  }

  #profile-header{
    padding: 8% 5% 8% 5%;
  }
}

  /* For Web below 600 pixels */
/* @media only screen and (max-width: 600px) {
div.myProfile-container {
  padding: 40% 0% 0% 0%;
  color: black;
}

div.ui.blue.centered.card{
  padding: 1.5% 0px 0px 0px;
}

#profile-icon{
  align-content: center;
}

#profile-header{
  padding: 8% 5% 8% 5%;
}
} */

  /* For Web */
/* @media only screen and (min-width: 737px) {
  div.myProfile-container {
    padding: 13% 0% 0% 0%;
    color: black;
  }

  div.ui.blue.centered.card{
    padding: 1.5% 0px 0px 0px;
  }

  #profile-icon{
    align-content: center;
  }

  #profile-header{
    padding: 8% 5% 8% 5%;
  }
} */
