div.navBar-container {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #3DD387;
  color: white;
  /* box-shadow: 0px 10px 15px 5px #3DD387; */
  z-index: 1;
  /* bottom   : 0;
  left     : 0;
  background-image : linear-gradient(to bottom,
                  rgba(255,255,255, 0),
                  rgba(255,255,255, 1) 95%); */
}

#navbar-freelance-logo-title {
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
  font-size: 35px;
  text-shadow: 8px 8px 15px red;
  position: absolute;
  left: 44.5%;
  /* position: relative; */
  /* left: 390%; */
}

/* .navBar-item {
  background-color: white;
} */

.menu {
  color: white;
}
