div.navBar-container {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  color: white;
  z-index: 1;
  border-bottom: solid;
  border-width: 0.05px;
  border-color: #d0eaf1;
}

#navbar-freelance-logo-title {
  color: black;
  font-family: serif;
  font-weight: bold;
  /* font-family: 'Pacifico', cursive; */
  letter-spacing: -1px;
  font-size: 35px;
  position: absolute;
  left: 44.5%;
  /* position: relative; */
  /* left: 390%; */
}

/* .navBar-item {
  background-color: white;
} */

.menu {
  color: white;
}
