div.new-contract-form-container {
  padding-top: 0px;
  background-color: red;
}

#form-alert {
  color: red;
  padding-top: 10px;
}

#left-button {
  margin-left: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#developer-approve {
  text-align: left;
  margin-left: 35px;
}

#contractor-approve {
  text-align: right;
  margin-right: 35px;
}

#right-button {
  margin-right: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

div.contract {
  background-color: #fffff0;
  width: 65%;
  float: right;
  border: 1px solid #EAEAEA;
  padding-bottom: 75px;
  box-shadow: 0px 10px 10px grey;
  padding-left: 80px;
  padding-right: 80px;

  /* font-family: 'PT Sans Narrow', sans-serif; */
}

div.new-contract-form {
  margin-top: 100px;
  margin: auto;
  width: 35%;
  height: 100%;
  border: 1px solid white;
  padding: 25px;
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  background-color: #d8dfea;
  /* background-color: #FFB697; */
  box-shadow: 0px 10px 10px grey;
  float: left;
}

#new-contract-label{
  text-align: left;
}

#success-alert {
  color: #2dc937;
  letter-spacing: 3px;
  font-weight: 900;
  text-shadow: 1px 1px 0 white;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* #success-alert {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  opacity: 0;
} */

/* body {
    background-color: red;
} */
