div.freelance-logo {
  padding-top: 12%;
  padding-bottom: 1%;
  background-color: #FAF9F9;
}

#freelance-logo-title {
  font-size: 50px;
  color: #FB6424;
  font-family: serif;
  /* font-weight: bold; */
  letter-spacing: -2px;
  /* font-family: 'Pacifico', cursive; */
}

div.welcome-container {
  background-color: #FAF9F9;
  padding-bottom: 20%;
}

#welcome-form {
  font-size: 15px;
  margin: auto;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid #28929E; */
  border: 1px solid #EAEAEA;
  padding: 2%;
}

div.checkbox {
  padding-bottom: 2%;
}
