/* Portrait iPhone 6+ 7+ 8+ */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

  div.welcome-container {
    background-color: #FAF9F9;
    padding-bottom: 100%;
    height: 100%;
  }

  div.freelance-logo {
    padding-top: 35%;
    padding-bottom: 1%;
    background-color: #FAF9F9;
  }

  #freelance-logo-title {
    font-size: 50px;
    color: #FB6424;
    font-family: serif;
    letter-spacing: -2px;
  }

  #welcome-form {
    font-size: 15px;
    margin: auto;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    padding: 2%;
  }

  div.checkbox {
    padding: 1% 0% 2% 0%;
  }
}

  /* Landscape iPhone 6+ 7+ 8+ */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

  div.freelance-logo {
    padding-top: 7%;
    padding-bottom: 1%;
    background-color: #FAF9F9;
  }

  #freelance-logo-title {
    font-size: 50px;
    color: #FB6424;
    font-family: serif;
    /* font-weight: bold; */
    letter-spacing: -2px;
    /* font-family: 'Pacifico', cursive; */
  }

  div.welcome-container {
    background-color: #FAF9F9;
    padding-bottom: 20%;
  }

  #welcome-form {
    font-size: 15px;
    margin: auto;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    padding: 2%;
  }

  div.checkbox {
    padding: 1% 0% 2% 0%;
  }
}



  /* For Web */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {

  .body {
    background-color: #FAF9F9;
  }

  div.freelance-logo {
    padding-top: 12%;
    padding-bottom: 1%;
    background-color: #FAF9F9;
  }

  #freelance-logo-title {
    font-size: 50px;
    color: #FB6424;
    font-family: serif;
    letter-spacing: -2px;
  }

  div.welcome-container {
    background-color: #FAF9F9;
    padding-bottom: 20%;
  }

  #welcome-form {
    font-size: 15px;
    margin: auto;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    padding: 2%;
  }

  div.checkbox {
    padding: 1% 0% 2% 0%;
  }
}
