#freelance-logo-title {
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
  font-size: 55px;
  text-shadow: 8px 8px 15px red;
}

div.welcome-container {
  padding-top: 5%;
  padding-bottom: 400px;
  background-color: #FFB697;
}

/* Form.form {
  margin: auto;
  width: 40%;
  border: 1px solid white;
  padding: 25px;
  background-color: #3DD387;
  box-shadow: 10px 10px 15px grey;
} */

#welcome-form {
  margin: auto;
  width: 40%;
  border: 1px solid white;
  padding: 25px;
  background-color: #3DD387;
  box-shadow: 10px 10px 15px grey;
}

div.freelance-logo {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FFB697;
  color: white;
  font-style: italic;
}

div.alert {
  color: red;
  padding-bottom: 10px;
}

div.checkbox {
  padding-bottom: 10px;
}
